<?xml version="1.0" encoding="UTF-8"?>
<!-- status    The level of internal Log4j events that should be logged to the console. -->
<!-- name      The name of the configuration. -->
<!-- packages  A comma separated list of package names to search for plugins. -->
<!-- verbose Enables diagnostic information while loading plugins.-->
<Configuration status="debug" name="RoutingLoggingConfiguration" packages="org.log4j2plugin">
    <Properties>
        <Property name="alpha_log_filename">${log.path}/alpha_log.log</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d{yyyyMMddHH} %m%n"/>
        </Console>

        <RollingFile name="RollingFile-AlphaLog"
                     fileName="${alpha_log_filename}"
                     filePattern="${log.path}/alpha_log/%d{yyyyMMddHHmmss}-${hostName}.log"
                     >
            <PatternLayout>
                <Pattern>%d{yyyyMMddHH}{GMT+0} %m %n</Pattern>
            </PatternLayout>
            <Policies>
                <FTimeBasedTriggeringPolicy interval="1" emptyms="2000"/>
            </Policies>
            <KeepEmptyFileRolloverStrategy/>
        </RollingFile>
        
        
        <RollingFile name="minuteFile"
                     fileName="${log.path}/testminute.log"
                     filePattern="${log.path}/testminute/%d{yyyyMMddHHmm}-${hostName}.log"
                     >
            <PatternLayout>
                <Pattern>%d{yyyyMMddHH}{GMT+0} %m %n</Pattern>
            </PatternLayout>
            <Policies>
                <FTimeBasedTriggeringPolicy interval="1" emptyms="2000"/>
            </Policies>
            <KeepEmptyFileRolloverStrategy/>
        </RollingFile>
    </Appenders>

    <Loggers>

        <Logger name="AlphaLogger" level="info" additivity="false">
            <AppenderRef ref="RollingFile-AlphaLog"/>
        </Logger>
         <Logger name="minuteLogger" level="info" additivity="false">
            <AppenderRef ref="minuteFile"/>
        </Logger>

        <Root level="warn">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>

</Configuration>
